@import "tailwindcss";
@import '@fontsource/poppins/index.css';
@import '@fontsource/roboto/index.css';



body {
  background-image: url('./assets/background/bg18.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;

  overflow-x: hidden;
}



@layer base {
  body {
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Roboto', sans-serif;
  }
}
